<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="./bootstrap.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="CONSUL_URI" value="http://127.0.0.1:8500"/>
    <env name="CONSUL_TIMEOUT" value="1"/>
    <env name="JSONRPC_HTTP_HOST" value="127.0.0.1"/>
    <env name="JSONRPC_HTTP_PORT" value="9502"/>
    <env name="JSONRPC_HTTP_TIMEOUT" value="2"/>
    <env name="JSONRPC_HOST" value="127.0.0.1"/>
    <env name="JSONRPC_PORT" value="9503"/>
    <env name="JSONRPC_TIMEOUT" value="2"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
